<div class="post-detail-container" *ngIf="!isLoading ;else loadingTemplate">
  <div class="post-detail">
    <div class="left-content">
      <div class="main-image">
        <img [src]="selectedImage  || post!.images[0]" alt="image of {{ post?.title }}">
      </div>
      <div class="thumbnail-slider">
        <div class="thumbnail" *ngFor="let image of post?.images">
          <img [src]="image" (click)="selectImage(image)" alt="thumbnail">
        </div>
      </div>
    </div>
    <div class="right-content">
      <h4 class="post-title">{{ post?.title }}</h4>
      <p class="post-author"><strong>Tác giả:</strong> {{ post?.author }}</p>
      <p class="post-price"><strong>Giá Bán:</strong> {{ post!.price | formatCurrency }}</p>
      <div class="post-detail-btn">
        <button class="btn-add-cart" (click)="addToCart(postId)">Thêm vào giỏ</button>
        <button class="btn-add-favourite " (click)="toggleFavourite(postId)">
          <fa-icon [icon]="favouritePostIds.has(postId) ?faHeartFilled:faHeart">
          </fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="post-content" [ngClass]="{ 'expanded': expanded }">
    <span>Nội dung bài viết:</span>
    <p *ngFor="let paragraph of formattedContent" [innerHtml]="paragraph"></p>
  </div>
</div>

<div *ngIf="!post" class="not-found">
  <p>Post not found</p>
</div>
<ng-template #loadingTemplate>
  <div class="text-center">
    <ng-lottie style="display: flex;align-items: center;justify-content: center;" class="lottie-animation"
      [options]="lottieLoadingOptions" width="100px" height="100px" autoplay="true" loop="true"></ng-lottie>
  </div>
</ng-template>