.post-detail-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
}

.post-detail {
  display: flex;
  gap: 20px;
  justify-content: center;
  gap: 30px;
  align-items: start;
  margin-bottom: 20px;
}


.post-image {
  width: 400px;
  height: auto;
  border-radius: 8px
}

.right-content {
  padding-top: 20px;
  max-width: 500px;
}


.post-title {
  font-weight: bold;
  color: #333;
  font-size: 28px;
}

.post-author,
.post-price {
  font-size: 16px;
}

.btn-add-cart {
  margin-top: 30px;
  font-size: 16px;
  padding: 12px 14px;
  background-color: #097c47;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 8px;
}

.btn-add-cart:hover {
  background-color: #198754;
}

.btn-add-favourite {
  margin-top: 30px;
  background-color: #ff4444;
  ;
  padding: 12px 14px;
  font-size: 16px;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.btn-add-favourite:hover {
  background-color: #e53935;
}

.post-content {
  margin: 30px 100px 0 100px;
}

.post-content span {
  font-size: 20px;
  font-weight: bold;
}

.post-content p {
  margin-top: 20px;
}
