.payment-success-message{
  margin-top: 20px;
  color: #28a745;
  text-align: center;
  margin-bottom: 40px;
}
.payment-success-message h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.payment-success-message p {
  font-size: 16px;
}
