<div class="text-center">
  <ng-lottie class="lottie-animation" [options]="lottieOptions" width="300px" height="300px"
    style="display: flex;align-items: center;justify-content: center;" autoplay="true" loop="true">
  </ng-lottie>
  <div class="payment-success-message">
    <h3>Thanh toán thành công!</h3>
    <p>Cảm ơn bạn đã mua hàng. Chúng tôi sẽ xử lý đơn hàng của bạn ngay lập tức.</p>
  </div>
  <div class="btn btn-outline-danger" (click)="toggleNavHome()">
    Tiếp tục mua hàng
  </div>
</div>