.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.2s;
}

.list-group-item:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.badge-info {
  background-color: #17a2b8;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.mb-1 {
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

p {
  margin: 5px 0;
}

.list-group-item h5 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .list-group-item {
    padding: 10px 15px;
  }

  h2 {
    font-size: 20px;
  }

  .list-group-item h5 {
    font-size: 16px;
  }

  .badge-info {
    font-size: 12px;
    padding: 4px 8px;
  }

  .mb-1 {
    font-size: 14px;
  }
}

//pagination
.page-control {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  bottom: 20px;
  right: 100px;
  z-index: 10;
  background-color: white;
}
