<div class="container mt-4" *ngIf="!isLoading;else loadingTemplate">
  <div *ngIf="orders.length>0;else emptyOrder">
    <h2 class="text-center">Đơn Hàng Của Tôi</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <div *ngFor="let order of orders  | paginate: {itemsPerPage: 4, currentPage: p }" class="list-group-item">
            <div class="list-group-item-content">
              <p class="mb-1"><strong>Địa Chỉ:</strong> {{ order.address.houseNumber }}, {{ order.address.street }}, {{
                order.address.city }}
              </p>
              <p class="mb-1"><strong>Trạng Thái:</strong> <span class="badge badge-info">{{ order.status }}</span></p>
              <p class="mb-1"><strong>Ngày Mua:</strong> {{ order.date| date: 'dd/MM/yyyy' }}</p>
              <p class="mb-1"><strong>Phương thức thanh toán:</strong> {{ order.paymentMethod }}</p>
              <p class="mb-1"><strong>Tổng Tiền: </strong>{{ order.amount |formatCurrency}}</p>
            </div>
            <div class="text-center">
              <div class="menu-wrapper">
                <fa-icon style="font-size: 22px; color: #888282;display: flex;align-items: center;"
                  [icon]="faBars"></fa-icon>
                <div class="dropdown-menu">
                  <fa-icon class="dropdown-item" [title]="'Chỉnh sửa đơn hàng'" [icon]="faPencil" [ngStyle]="{
                    'color': order.status === 'Đang chờ xử lý' ? 'blue' : 'gray',
                    'cursor': order.status === 'Đang chờ xử lý' ? 'pointer' : 'not-allowed'
                  }"
                    (click)="order.status === 'Đang chờ xử lý' ? openEditAddress(order) : $event.stopPropagation()"></fa-icon>
                  <fa-icon [icon]="faEyeSlash" [ngStyle]="{
                      'color': order.status === 'Hoàn thành' ? '#212529' : 'gray',
                      'cursor': order.status === 'Hoàn thành' ? 'pointer' : 'not-allowed'
                    }" [title]="order.status === 'Hoàn thành' ? 'Ẩn đơn hàng' : 'Đơn hàng không thể ẩn'"
                    (click)="openDeleteOrder(order)"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls [responsive]="true" previousLabel="" nextLabel="" class="page-control"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="text-center">
    <ng-lottie style="display: flex;align-items: center;justify-content: center;" class="lottie-animation"
      [options]="lottieLoadingOptions" width="100px" height="100px" autoplay="true" loop="true"></ng-lottie>
  </div>
</ng-template>
<ng-template #emptyOrder>
  <div class="text-center">
    <ng-lottie class="lottie-animation" [options]="lottieOptions" width="400px" height="400px"
      style="display: flex;align-items: center;justify-content: center;" autoplay="true" loop="true">
    </ng-lottie>
  </div>
  <div class="text-center">
    <p>Bạn chưa có đơn hàng nào</p>
    <button (click)="navigateHome()" class=" btn btn-danger">Tiếp tục mua hàng</button>
  </div>
</ng-template>
<!-- Modal edit address -->
<div class="modal fade" id="editUserAddress" tabindex="-1" aria-labelledby="editUserAddressLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserAddressLabel">
          Chỉnh sửa địa chỉ người dùng</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="updateUserAddress()">
          <div class="mb-3">
            <label for="houseNumber">Số Nhà:</label>
            <input id="houseNumber" formControlName="houseNumber" />
          </div>
          <div class="mb-3">
            <label for="street">Đường:</label>
            <input id="street" formControlName="street" />
          </div>
          <div class="mb-3">
            <label for="city">Thành Phố:</label>
            <input id="city" formControlName="city" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="editUserAddressLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Xác Nhận Ẩn</h5>
      </div>
      <div class="modal-body">
        Bạn có muốn ẩn đơn hàng này không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="onHide()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>