<div class="d-flex justify-content-center">
  <div class="card" style="width: 26rem;">
    <div class="card-body">
      <h5 class="card-title mb-3">Đăng Nhập</h5>
      <form action="" [formGroup]="form" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" name="" placeholder="Vui lòng nhập email...">
        </div>
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Mật khẩu</label>
          <input [type]="isPasswordVisible ? 'text':'password'" class="form-control" formControlName="password" name=""
            placeholder="Vui lòng nhập mật khẩu...">
          <button type="button" (click)="togglePasswordVisibility()"
            class="btn btn-outline-secondary  position-absolute btn-toggle-password ">
            {{isPasswordVisible?'Ẩn':'Hiện'}}
          </button>
        </div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-success">Đăng Nhập</button>
      </form>
    </div>
  </div>
</div>
