<div class="container mt-5 px-2">
  <form action="" class="form ">
    <input type="search" placeholder="Tìm kiếm đơn hàng..." [formControl]="searchControl" class="form-control" />
    <i class="fa fa-search" aria-hidden="true"></i>
  </form>
  <div class="table-responsive">
    <table class="table table-hover table-borderless align-middle">
      <thead class="bg-light">
        <tr>
          <th scope="col" width="30%">Địa chỉ</th>
          <th scope="col" width="15%">Tổng tiền</th>
          <th scope="col" width="20%">Phương thức thanh toán</th>
          <th scope="col" class="text-center" width="15%">Trạng thái</th>
          <th scope="col" class="text-center" width="15%">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | paginate: {itemsPerPage: 5, currentPage: p }">
          <td class="ellipsis"><span class="ms-1">{{ order.address.houseNumber }}, {{ order.address.street }}, {{
              order.address.city }}</span></td>
          <td class="ellipsis"> {{order.amount |formatCurrency}}</td>
          <td class="ellipsis"> {{order.paymentMethod}}</td>
          <td class="text-center">
            <select [(ngModel)]="order.status" (change)="updateOrderStatus(order)">
              <option value="Đang chờ xử lý">Đang chờ xử lý</option>
              <option value="Đang xử lý đơn hàng">Đang xử lý đơn hàng</option>
              <option value="Đã giao hàng">Đã giao hàng</option>
              <option value="Đã hủy">Đã hủy</option>
              <option value="Đã trả lại">Đã trả lại</option>
              <option value="Thất bại">Thất bại</option>
              <option value="Hoàn thành">Hoàn thành</option>

            </select>
          </td>
          <td class="text-center">
            <div style="display: flex;align-items: center;justify-content: center;">
              <i class="material-icons" [ngStyle]="{ 'color': 'red', 'cursor' : 'pointer' }"
                (click)="openDeleteOrder(order)">delete</i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls [responsive]="true" previousLabel="" nextLabel="" class="page-control"
      (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- Modal delete -->
  <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmModalLabel">Xác Nhận Xóa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có muốn xóa đơn hàng của người dùng này không ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
