<div class="container mt-5 px-2" *ngIf="!isLoading;else loadingTemplate">
  <div class="header-container">
    <span>
      <fa-icon [title]="'Thêm bài viết'" [icon]="faPlus" class="custom-icon" (click)="openAddPost()"></fa-icon>
    </span>
    <form action="" class="search-form">
      <input type="search" placeholder="Tìm kiếm tên sách..." [formControl]="searchControl" class="form-control" />
      <i class="fa fa-search" aria-hidden="true"></i>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-borderless align-middle">
      <thead class="bg-light">
        <tr>
          <th scope="col" width="15%">Tựa Đề</th>
          <th scope="col" width="30%">Nội Dung</th>
          <th scope="col" width="15%">Tác Giả</th>
          <th scope="col" class="text-center" width="10%">Hình Ảnh</th>
          <th scope="col" class="text-center" width="10%">Giá Bán</th>
          <th scope="col" class="text-center" width="10%">Hiện bài viết</th>
          <th scope="col" class="text-center" width="10%">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | paginate: {itemsPerPage: 5, currentPage: p }">
          <td><span class="ms-1"><strong>{{post.title}}</strong></span></td>
          <td class="ellipsis" [innerHTML]="post.content |safeHtml"></td>
          <td><strong>{{post.author}}</strong></td>
          <td class="text-center">
            <img *ngIf="post.images.length>0" [src]="post.images[0]" alt="Post Image" class="img-thumbnail" width="50">
          </td>
          <td>
            <div class="text-center">
              <p>
                <strong>{{post.price | formatCurrency}}</strong>
              </p>
            </div>
          </td>
          <td>
            <div class="text-center">
              <p>
                <mat-slide-toggle [checked]="post.featured" (change)="toggleFeaturedPost(post._id,post.featured)">
                </mat-slide-toggle>
              </p>
            </div>
          </td>
          <td>
            <div class="text-center">
              <div class="menu-wrapper">
                <fa-icon style="font-size: 22px; color: #888282;display: flex;align-items: center;"
                  [icon]="faBars"></fa-icon>
                <div class="dropdown-menu">
                  <fa-icon class="dropdown-item" style="color: blue;" [icon]="faPencil" [title]="'Chỉnh sửa bài viết'"
                    (click)="editPost(post)"></fa-icon>
                  <fa-icon class="dropdown-item" style="color: red;" [icon]="faTrashCan" [title]="'Xóa bài viết'"
                    (click)="openDeletePost(post)"></fa-icon>

                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls [responsive]="true" previousLabel="" nextLabel="" class="page-control"
      (pageChange)="p = $event"></pagination-controls>
    <!-- Modal add & edit -->
    <div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPostModalLabel">
              {{isEditMode ? 'Sửa Bài Viết': 'Thêm Bài Viết'}}</h5>
          </div>
          <div class="modal-body">
            <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="title">Tựa đề</label>
                <input id="title" formControlName="title" class="form-control" />
              </div>
              <ckeditor></ckeditor>
              <div class="mb-3">
                <label for="content">Nội dung</label>
                <ckeditor [editor]="Editor" id="content" class="form-control" formControlName="content"></ckeditor>
              </div>
              <div class="mb-3">
                <label for="author">Tác giả</label>
                <input id="author" formControlName="author" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="images">Hình ảnh</label>
                <input id="images" type="file" (change)="handleFileInput($event)" multiple accept="image/*"
                  class="form-control" />
                <div *ngIf="avatarPreview.length>0">
                  <div class="image-preview-container">
                    <img *ngFor="let image of avatarPreview " [src]="image" alt="">
                  </div>

                </div>
              </div>
              <div class="mb-3">
                <label for="price">Giá Bán (VND)</label>
                <input id="price" formControlName="price" class="form-control" appCurrencyFormat />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal delete -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmModalLabel">Xác Nhận Xóa</h5>
          </div>
          <div class="modal-body">
            Bạn có muốn xóa bài viết này không ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="text-center">
    <ng-lottie style="display: flex;align-items: center;justify-content: center;" class="lottie-animation"
      [options]="lottieLoadingOptions" width="100px" height="100px" autoplay="true" loop="true"></ng-lottie>
  </div>
</ng-template>
