.header-container{
  display: flex;
  align-items: center;
  width: 95%;
}
.table td {
  padding: 20px 0;
  margin: 20px 0;
}
.table th,
.table td {
  padding: 1rem;
  vertical-align: middle;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table td img {
  border-radius: 5px;
}

.table-hover tbody tr:hover {
  background-color: #ECECEC;
}
.table td {
  vertical-align: middle;
}
td.ellipsis{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: max-content;
  max-height: 300px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  word-break: break-word;
}


.ellipsis * {
  display: inline;
  margin: 0;
  padding: 0;
}

.ellipsis h1, .ellipsis h2, .ellipsis h3, .ellipsis h4, .ellipsis h5, .ellipsis h6,
.ellipsis p, .ellipsis ul, .ellipsis ol, .ellipsis li {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.ellipsis a {
  color: inherit;
  text-decoration: underline;
}

.ellipsis img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0;
}



//modal
.modal-header{
  background: #212529;
}
.modal-title {
  width: 90%;
  text-align: center;
  color: white;

  font-weight: bold;
}
.mb-3 label {
  font-weight: bold;
}
//pagination
.page-control {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  position: sticky;
  bottom: 20px;
  right: 100px;
  z-index: 10;
  background-color: white;
}

@media (max-width: 995px) {
  .table-responsive::-webkit-scrollbar {
    display: none;
  }
}

//search
.search-form{
  margin-top: 50px;
  position: relative;
  top: 50%;
  left: 98%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }

  .fa{
    box-sizing: border-box;
    background-color: #F8F9FA;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #212529;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
  }
}
.search-form:hover{
  width: 250px;
  cursor: pointer;
  left: 90%;
}

.search-form:hover input{
  display: block;
}

.search-form:hover .fa{
  background: #212529;
  color: white;
}

.custom-icon{
 cursor: pointer;
 color: #212529;
 font-size: 40px;
 transition: transform 0.3s ease, color 0.3s ease 0.3s ease;
}
.custom-icon:hover{
  color: #007bff;
  cursor: pointer;
  transform:scale(1.1);
}

//menu dropdown
.menu-wrapper{
  position: relative;
  display: inline-block;
}
.menu-wrapper:hover{
  cursor: pointer;
}
.menu-wrapper:hover .dropdown-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  opacity: 1;
  visibility: visible;
}
.menu-wrapper .icon-menu{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 100;
  min-width: max-content;
  min-height: max-content;
  bottom: 30%;
  left: 100%;
}
.dropdown-menu .dropdown-item {
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover{
  background-color: #f1f1f1;
}

