<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <img src="assets/logo.png" (click)="toggleNavHome()" class="img-logo" alt="img-logo">
    <div class="title-container">
      <span (click)="toggleNavHome()" class="title-header" href="#">TBOOK</span>
      <span (click)="toggleNavHome()" class="title-subHeader" href="#">Read, Dream, Discover!</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        @if (isLoggedIn) {
        <button class="btn btn-navFav" style="height: 30px; width: 30px" (click)="toggleNavigateFav()">
          <fa-icon [icon]="faHeart">
          </fa-icon>
        </button>
        <button class="btn btn-navFav" style="height: 30px; width: 30px">
          <fa-icon [icon]="faCart">
          </fa-icon>
        </button>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> <img
              [src]="user?.avatarUrl ? user?.avatarUrl:'assets/default_avatar.png'" alt="Avatar" class="avatar" />
            {{user?.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="cursor: pointer;" (click)="toggleProfile()">Thông tin
              cá nhân</a>
            <a *ngIf="user?.isAdmin" class="dropdown-item" style="cursor: pointer;"
              (click)="togglePostManagement()">Quản lý bài viết</a>
            <a *ngIf="user?.isAdmin" class="dropdown-item" style="cursor: pointer;"
              (click)="toggleFeedbackManagement()">Quản lý phản hồi</a>
            <a *ngIf="user?.isAdmin && user?._id ===fixedAdmin" class="dropdown-item" style="cursor: pointer;"
              (click)="toggleUserManagement()">Quản lý người dùng</a>
          </div>
        </li>
        }@else {
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Đăng Nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Đăng Ký</a>
        </li>}
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-5">
  <router-outlet></router-outlet>
</main>
<div class='footer-container'>
  <div class="footer-content">
    <div class="footer-content-left">
      <img src="assets/logo.png" (click)="toggleNavHome()" class="img-logo" alt="img-logo">
      <p>TBOOK là điểm đến lý tưởng cho những ai đam mê sách, với bộ sưu tập đa dạng từ tiểu thuyết đến sách khoa học.
        Đội ngũ nhân viên tận tâm luôn sẵn sàng giúp bạn tìm kiếm những cuốn sách phù hợp.
        Hãy ghé TBOOK để khám phá không gian đọc thân thiện và những tác phẩm đặc sắc!</p>
      <div class="footer-social-icons">
        <img src="assets/facebook_icon.png" alt="" />
        <img src="assets/linkedin_icon.png" alt="" />
        <img src="assets/twitter_icon.png " alt="" />
      </div>
    </div>
    <div class="footer-content-center">
      <h3>COMPANY</h3>
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Delivery</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="footer-content-right">
      <h3>GET IN TOUCH</h3>
      <ul>
        <li>Hotline: 0395704727</li>
        <li>Gmail: tbooksupport&#64;gmail.com</li>
      </ul>
    </div>
  </div>
  <p class="footer-copy-right">
    Copyright 2024 © TBOOK.com - All rights reserved
  </p>
</div>