.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.navbar {
  height: 70px;

}

.navbar-nav {
  display: flex;
  align-items: center;
}

.btn-navFav {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: white;
}

.btn-navFav:hover {
  color: #3BA8E0;
  transition: ease 0.3s;
}

.btn-navFav .ng-fa-icon {
  font-size: 25px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

@media(max-width:995px) {
  .navbar {
    height: 90px;
  }

  .dropdown-menu {
    z-index: 10;
  }
}

.img-logo {
  height: auto;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.title-header:hover,.title-subHeader:hover{
  color: #3BA8E0;
}
.title-container .title-header{
  font-size: 16px;
  font-weight: bold;
}
.title-container .title-subHeader{
  font-size: 14px;
}
@media(max-width:992px){
  .title-container {
   display: none;
  }
}
//footer
.footer-container {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 50px;
  margin-top: 80px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left p {
  width: 80%;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-center ul,
.footer-content-right ul {
  padding-left: 0px;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: white;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}

@media (max-width:750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer-copy-right {
    text-align: center;
  }
}
