<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="image-left" loading="lazy" src="assets/about_us.jpg" alt="About TBOOK">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3" style="font-size: 24px;font-weight: bold;">Why Choose TBOOK?</h2>
            <p style="font-size: 16px;">At TBOOK, we are passionate about books and
              dedicated to providing a wide selection of quality literature to satisfy every reader’s needs. Our
              commitment to customer service ensures that you have the best shopping experience possible.</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Diverse Selection: Explore a vast range of genres from
                  fiction to non-fiction.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Expert Recommendations: Our knowledgeable staff are
                  always ready to help you find the perfect book.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Community Events: Join our reading clubs and author
                  signings to connect with fellow book lovers.</p>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary rounded-pill">Explore Our Books</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>