<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="image-left" loading="lazy" src="assets/about_us.jpg" alt="About TBOOK">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3" style="font-size: 24px;font-weight: bold;">Tại Sao Chọn TBOOK?</h2>
            <p style="font-size: 16px;">Tại TBOOK, chúng tôi đam mê sách và cam kết cung cấp một loạt các tác phẩm văn
              học chất lượng để đáp ứng nhu cầu của mọi độc giả. Sự tận tâm trong dịch vụ khách hàng của chúng tôi đảm
              bảo rằng bạn sẽ có trải nghiệm mua sắm tốt nhất có thể.</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Lựa chọn đa dạng: Khám phá nhiều thể loại từ tiểu thuyết đến phi tiểu
                  thuyết.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Gợi ý từ chuyên gia: Đội ngũ nhân viên am hiểu của chúng tôi luôn sẵn sàng
                  giúp bạn tìm cuốn sách phù hợp.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 text-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div>
                <p style="font-size: 16px;">Sự kiện cộng đồng: Tham gia các câu lạc bộ đọc sách và buổi ký tặng sách của
                  tác giả để kết nối với những người yêu sách khác.</p>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary rounded-pill">Khám phá các sách của chúng
              tôi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>