<div class="img-container">
  <app-slider [images]="images"></app-slider>
</div>
<h2 class="title-container">Những Sản Phẩm Nổi Bật</h2>
<form action="">
  <input type="search" placeholder="Search for posts..." [formControl]="searchControl" class="form-control" />
  <i class="fa fa-search" aria-hidden="true"></i>
</form>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 mb-4" *ngFor="let post of posts | paginate: {itemsPerPage:8,currentPage:p}">
      <div class="card shadow-sm border-0 rounded-4">
        <img *ngIf="post.images.length > 0" [src]="post.images[0]" (click)="getPostById(post._id)" alt=""
          class="card-img-top img-post"
          style="cursor: pointer; border-top-left-radius: 12px; border-top-right-radius: 12px;">
        <div class="card-body">
          <h5 class="card-title text-dark">{{post.title}}</h5>
          <p class="card-text text-muted">{{post.author}}</p>
          <p class="card-text text-muted">{{post.content}}</p>
          <a class="btn btn-outline-success btn-sm" (click)="getPostById(post._id)">Xem Chi Tiết</a>
        </div>
      </div>
    </div>
    <pagination-controls *ngIf="posts.length>0" [responsive]="true" previousLabel="" nextLabel="" class="page-control"
      (pageChange)="p = $event"></pagination-controls>
  </div>
</div>