<div class="img-container">
  <app-slider [images]="images"></app-slider>
</div>
<app-banner></app-banner>
<h2 class="title-container">Những Sản Phẩm Nổi Bật</h2>
<!-- search -->
<form action="">
  <input type="search" placeholder="Tìm kiếm tên sách..." [formControl]="searchControl" class="form-control" />
  <i class="fa fa-search" aria-hidden="true"></i>
</form>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 mb-4" *ngFor="let post of posts | paginate: {itemsPerPage:8,currentPage:p}">
      <div class="card shadow-sm border-0 rounded-4">
        <img *ngIf="post.images.length > 0" [src]="post.images[0]" (click)="getPostById(post._id)" alt=""
          class="card-img-top img-post"
          style="cursor: pointer; border-top-left-radius: 12px; border-top-right-radius: 12px;">
        <div class="card-body">
          <h5 class="card-title text-dark">{{post.title}}</h5>
          <p class="card-text text-muted">{{post.author}}</p>
          <p class="card-text text-muted"><Strong>Giá Bán:</Strong> {{post.price | formatCurrency}}</p>
          <a class="btn btn-outline-dark btn-sm m-2" (click)="getPostById(post._id)">Xem Chi Tiết</a>
          <button class="btn btn-outline-danger btn-sm m-2" (click)="toggleFavourite(post._id)">
            <fa-icon [icon]="favouritePostIds.has(post._id) ?faHeartFilled:faHeart">
            </fa-icon>
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="addToCart(post._id)">
            <fa-icon [icon]="faCart">
            </fa-icon>
          </button>
        </div>
      </div>
    </div>
    <app-feedback></app-feedback>
    <pagination-controls *ngIf="posts.length>0" [responsive]="true" previousLabel="" nextLabel="" class="page-control"
      (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<app-about-us></app-about-us>


<div class="map-container">
  <div class="map-left">
    <h2 class="mb-3" style="font-size: 24px;font-weight: bold;">Địa Chỉ Của Chúng Tôi</h2>
    <p style="font-size: 16px;">Chúng tôi nằm tại vị trí trung tâm, dễ dàng tiếp cận cho tất cả các khách hàng yêu thích
      sách. <br>
      Địa chỉ của TBOOK là 127/14 Hoàng Hoa Thám,phường 13,quận Tân Bình, Thành Phố Hồ Chí Minh.
      Chúng tôi luôn chào đón bạn ghé thăm, để khám phá bộ sưu tập sách phong phú của chúng tôi và tận hưởng không gian
      đọc sách thoải mái. <br>
      Hãy đến và tìm cho mình những tác phẩm yêu thích hoặc nhận sự tư vấn từ đội ngũ nhân viên nhiệt tình của chúng
      tôi!</p>
  </div>
  <div class="map-right">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1118091707317!2d106.64413597451758!3d10.802747858708713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294f54eb01c5%3A0x396235bd5cb7f4ab!2zMTI3LzE0IEhvw6BuZyBIb2EgVGjDoW0sIFBoxrDhu51uZyAxMywgVMOibiBCw6xuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1728532171666!5m2!1svi!2s"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>